body {
    background-color: #161A13;
    color: #B6E693;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #264123;
    color: #3c742e;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #A6C1B9;
}

P {
    font-size: 18PX;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(63, 112, 82);
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #adcf9d;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: #161A13;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #273025;
    margin-top: 8px;
}

.card {
    background-color: #77ad51;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #28531d;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #181f16;
    color: #264123;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}