body{
    background-color: #161A13;
    color: #B6E693;
    font-family:Arial, sans-serif;
}
header{
    background-color: #264123;
    color: #3c742e;
    text-align: center;
    padding: 30px;
}
h1 {
font-size: 36px;
}
h2 {
COLOR: #A6C1B9;
}
P {
    font-size: 18PX;
    line-height: 1.6;
}
main {
    width: 80%;
    margin:auto;
}
section {
    background-color: #161A13;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}
img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin:auto;
    border-radius: 12px;
}
figcaption {
    text-align: center;
    font-size: 14px;
    color: #79a16f;
    margin-top: 8px;
}